.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 100px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 3920px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-image-5 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-image-6 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-1 .u-image-7 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-1 .u-image-8 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-1 .u-image-9 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-1 .u-image-10 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 30px;
}

.u-section-1 .u-image-11 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-22 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-1 .u-image-12 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-24 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px 30px;
}

.u-section-1 .u-image-13 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-26 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 20px 30px;
}

.u-section-1 .u-image-14 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-27 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-28 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 20px 30px;
}

.u-section-1 .u-image-15 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-30 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 20px 30px;
}

.u-section-1 .u-image-16 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-31 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-32 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 20px 30px;
}

.u-section-1 .u-image-17 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-33 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-34 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 20px 30px;
}

.u-section-1 .u-image-18 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-36 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 20px 30px;
}

.u-section-1 .u-image-19 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-37 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-38 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 20px 30px;
}

.u-section-1 .u-image-20 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-39 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-40 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 20px 30px;
}

.u-section-1 .u-image-21 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-41 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-42 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 20px 30px;
}

.u-section-1 .u-image-22 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-43 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-44 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 20px 30px;
}

.u-section-1 .u-image-23 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-45 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-46 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 20px 30px;
}

.u-section-1 .u-image-24 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 16px 0px rgba(128,128,128,0.77);
  border-style: solid;
}

.u-section-1 .u-text-47 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-1 .u-text-48 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 3232px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    height: 340px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    height: 340px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    height: 340px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    height: 340px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-12 {
    height: 340px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-13 {
    height: 340px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-14 {
    height: 340px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-15 {
    height: 340px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-16 {
    height: 340px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-17 {
    height: 340px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-18 {
    height: 340px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-19 {
    height: 340px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-20 {
    height: 340px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-21 {
    height: 340px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-22 {
    height: 340px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-23 {
    height: 340px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-24 {
    height: 340px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 5570px;
  }

  .u-section-1 .u-image-1 {
    height: 403px;
  }

  .u-section-1 .u-image-2 {
    height: 403px;
  }

  .u-section-1 .u-image-3 {
    height: 403px;
  }

  .u-section-1 .u-image-4 {
    height: 403px;
  }

  .u-section-1 .u-image-5 {
    height: 403px;
  }

  .u-section-1 .u-image-6 {
    height: 403px;
  }

  .u-section-1 .u-image-7 {
    height: 403px;
  }

  .u-section-1 .u-image-8 {
    height: 403px;
  }

  .u-section-1 .u-image-9 {
    height: 403px;
  }

  .u-section-1 .u-image-10 {
    height: 403px;
  }

  .u-section-1 .u-image-11 {
    height: 403px;
  }

  .u-section-1 .u-image-12 {
    height: 403px;
  }

  .u-section-1 .u-image-13 {
    height: 403px;
  }

  .u-section-1 .u-image-14 {
    height: 403px;
  }

  .u-section-1 .u-image-15 {
    height: 403px;
  }

  .u-section-1 .u-image-16 {
    height: 403px;
  }

  .u-section-1 .u-image-17 {
    height: 403px;
  }

  .u-section-1 .u-image-18 {
    height: 403px;
  }

  .u-section-1 .u-image-19 {
    height: 403px;
  }

  .u-section-1 .u-image-20 {
    height: 403px;
  }

  .u-section-1 .u-image-21 {
    height: 403px;
  }

  .u-section-1 .u-image-22 {
    height: 403px;
  }

  .u-section-1 .u-image-23 {
    height: 403px;
  }

  .u-section-1 .u-image-24 {
    height: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-16 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-17 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-18 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-19 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-20 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-21 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-22 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-23 {
    height: 699px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-24 {
    height: 699px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 430px;
  }

  .u-section-1 .u-image-2 {
    height: 430px;
  }

  .u-section-1 .u-image-3 {
    height: 430px;
  }

  .u-section-1 .u-image-4 {
    height: 430px;
  }

  .u-section-1 .u-image-5 {
    height: 430px;
  }

  .u-section-1 .u-image-6 {
    height: 430px;
  }

  .u-section-1 .u-image-7 {
    height: 430px;
  }

  .u-section-1 .u-image-8 {
    height: 430px;
  }

  .u-section-1 .u-image-9 {
    height: 430px;
  }

  .u-section-1 .u-image-10 {
    height: 430px;
  }

  .u-section-1 .u-image-11 {
    height: 430px;
  }

  .u-section-1 .u-image-12 {
    height: 430px;
  }

  .u-section-1 .u-image-13 {
    height: 430px;
  }

  .u-section-1 .u-image-14 {
    height: 430px;
  }

  .u-section-1 .u-image-15 {
    height: 430px;
  }

  .u-section-1 .u-image-16 {
    height: 430px;
  }

  .u-section-1 .u-image-17 {
    height: 430px;
  }

  .u-section-1 .u-image-18 {
    height: 430px;
  }

  .u-section-1 .u-image-19 {
    height: 430px;
  }

  .u-section-1 .u-image-20 {
    height: 430px;
  }

  .u-section-1 .u-image-21 {
    height: 430px;
  }

  .u-section-1 .u-image-22 {
    height: 430px;
  }

  .u-section-1 .u-image-23 {
    height: 430px;
  }

  .u-section-1 .u-image-24 {
    height: 430px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1748px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 880px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-image-4 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-2 .u-image-5 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-2 .u-image-6 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-2 .u-image-7 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-2 .u-image-8 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,0.77);
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 726px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 340px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 340px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    height: 340px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    height: 340px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    height: 340px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-8 {
    height: 340px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1112px;
  }

  .u-section-2 .u-image-1 {
    height: 403px;
  }

  .u-section-2 .u-image-2 {
    height: 403px;
  }

  .u-section-2 .u-image-3 {
    height: 403px;
  }

  .u-section-2 .u-image-4 {
    height: 403px;
  }

  .u-section-2 .u-image-5 {
    height: 403px;
  }

  .u-section-2 .u-image-6 {
    height: 403px;
  }

  .u-section-2 .u-image-7 {
    height: 403px;
  }

  .u-section-2 .u-image-8 {
    height: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 699px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 699px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 699px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 699px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 699px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 699px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 699px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 699px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 430px;
  }

  .u-section-2 .u-image-2 {
    height: 430px;
  }

  .u-section-2 .u-image-3 {
    height: 430px;
  }

  .u-section-2 .u-image-4 {
    height: 430px;
  }

  .u-section-2 .u-image-5 {
    height: 430px;
  }

  .u-section-2 .u-image-6 {
    height: 430px;
  }

  .u-section-2 .u-image-7 {
    height: 430px;
  }

  .u-section-2 .u-image-8 {
    height: 430px;
  }
}